

<table>
  <thead>
      <tr>
          <th>id</th>
          <th>Comorbidites</th>
      </tr>
  </thead>
  <tbody>
    <tr *ngFor="let comorbidite of comorbidites">
      <td>{{comorbidite.id}}</td>
      <th>{{comorbidite.comorbidites}}</th>
    </tr>
  </tbody>
</table>
