Contenu :{{form.value |json}}<br>
Parametres: {{parametres|json}}<br>
Categories: {{categories|json}}<br>

<form [formGroup]="form" (ngSubmit)="submitForm()" >
  <input type="text" formControlName="id" >
<div formGroupName="comorbidites" *ngIf="parametres && categories">
  <fieldset *ngFor="let categorie of categories">
    <legend>{{categorie.categorie}} </legend>
    <ng-container  *ngFor="let parametre of filterParameterByCategory(categorie)">
        <div>
          <label for="name">{{parametre.label}}: </label>
          <input type="text" formControlName="{{parametre.name}}">
        </div>
      </ng-container>
  </fieldset>

</div>

  <div class="form-example">
    <input type="submit" value="Envoyer" [disabled]="form.invalid">
  </div>
</form>
