<!--The content below is only a placeholder and can be replaced.-->
<nav>
    <a routerLink="/comorbidites/form" routerLinkActive="active">Creation</a>&nbsp;
    <a routerLink="/comorbidites" routerLinkActive="active">List</a>
</nav>
<router-outlet></router-outlet>

